@using SafeAssignmentSystem.Models.ChoisViewModels;
@model ChoisUserAndMonthViewModel;

@{
    ViewBag.Title = $"Избор на потребител и дата за промяна на сменен график";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form asp-action="ChoisUserAndMonth" method="post">

    <div class="row">
        <div class="col-md-5">
            <partial name="_UsersPartial"/>
        </div>
        <div class="col-md-5">
            <partial name="_ChoisMonthPartial"/>
        </div>
    </div>
    

    <button type="submit" class="btn btn-primary mt-6">Избор на потребител и месец</button>
  </form>

@section Scripts {
                    <partial name="_ValidationScriptsPartial" />
}
