@using SafeAssignmentSystem.Models.ChoisViewModels;
@model ChoisAccountViewModel

@{
    ViewBag.Title = $"Избор на потребителски акаунт";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form asp-action="ChoisAccount" method="post">
    
    <partial name="_UsersPartial"/>

    <button type="submit" class="btn btn-primary mt-3">Избор на потребител</button>
  </form>

@section Scripts {
                <partial name="_ValidationScriptsPartial" />
}