@using SafeAssignmentSystem.Models.ReferenceViewModel;
@model PositionsInPlantViewModel
@{
	ViewBag.Title = $"Комплекс: {Model.ComplexFullName}{Environment.NewLine}Инсталация: {Model.PlantFullName}";
}

<h2 class="text-center">@ViewBag.Title</h2>
<h2 class="text-center">Всички технологични позиции</h2>
<hr />

<partial name="_TechnologicalPositionsDetailsPartial" />

