@using SafeAssignmentSystem.Models.WorkingRotationViewModels;
@model CreateShiftScheduleViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="text-danger">Да взема всички данни за смените на избрания потребител за избраният месец</h1>