@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="bs-example">
    <div class="row">
        <div class="col-md-3">
            <!-- Менажиране на потребители -->

            <div class="btn-group dropend">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Менажиране на потребители</button>
                <ul class="dropdown-menu multi-level" >
                    <li class="nav-item dropdown">

                        <!-- Регистрация на нов потребител -->
                        <a class="nav-link btn-success text-white dropdown-toggle"                            
                            asp-controller="Account"
                            asp-action="Register">
                            Регистрация на нов потребител
                        </a>

                        <!-- Редакция на потребителски акаунт -->
                        <a class="nav-link btn-info text-dark dropdown-toggle"
                            asp-controller="Choices"
                            asp-action="ChoisAccount"
                            asp-route-data="Account EditAccount">
                            Редакция на потребителски акаунт
                        </a>

                        <!-- Промяна на потребителска парола -->
                        <a class="nav-link btn-primary text-white dropdown-toggle"
                            asp-controller="Choices"
                            asp-action="ChoisAccount"
                            asp-route-data="Account EditPassword">
                            Промяна на потребителска парола
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">

            <!-- Менажиране на инсталации и оборудване -->
            <div class="btn-group dropend">
                <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown">Менажиране на инсталации и оборудване</button>                
                <ul class="dropdown-menu multi-level">
                    <li class="nav-item dropdown">                        

                        <!-- Създаване на комплекс -->
                        <a class="nav-link btn-warning text-dark dropdown-toggle"                            
                            asp-controller="Plants"
                            asp-action="ComplexCreate">
                            Създаване на комплекс
                        </a>

                        <!-- Редактиране на комплекс -->
                        <a class="nav-link btn-warning text-dark dropdown-toggle"
                            asp-controller="Plants"
                            asp-action="AllComplex">
                            Редактиране на комплекс
                        </a>

                        <!-- Възстановяване на изтрит комплекс -->
                        <a class="nav-link btn-warning text-dark dropdown-toggle"
                            asp-controller="Plants"
                            asp-action="AllDeletedComplex">
                            Възстановяване на изтрит комплекс
                        </a>

                        <!-- Създаване на инсталация -->
                        <a class="nav-link btn-info text-dark dropdown-toggle"
                            asp-controller="Plants"
                            asp-action="PlantCreate">
                            Създаване на инсталация
                        </a>

                        <!-- Редактиране на инсталация -->
                        <a class="nav-link btn-info text-dark dropdown-toggle"
                            asp-controller="Plants"
                            asp-action="AllPlants">
                            Редактиране на инсталация
                        </a>
                        <!--TODO За бъдещ размисъл и реализация ако е необходимо-->
                        @*<a class="btn btn-info dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Изтриване на инсталация
                        </a>*@

                        <!-- Създаване на технологична позиция -->
                        <a class="nav-link btn-primary text-white dropdown-toggle"
                            asp-controller="Plants"
                            asp-action="TechnologicalPositionCreate">
                            Създаване на технологична позиция
                        </a>

                        <!-- Редактиране на технологична позиция -->
                        <a class="nav-link btn-primary text-white dropdown-toggle"
                            asp-controller="Choices"
                            asp-action="ChoisPlant"
                            asp-route-data="Plants AllTechnologicalPosition">
                            Редактиране на технологична позиция
                        </a>
                        <!--TODO За бъдещ размисъл и реализация ако е необходимо-->
                        @*<a class="btn btn-primary dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Изтриване на технологична позиция
                        </a>*@
                    </li>
                </ul>                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">

            <!-- Менажиране на сменни графици -->
            <div class="btn-group dropend">
                <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown">Менажиране на сменни графици</button>
                <ul class="dropdown-menu multi-level">
                    <li class="nav-item dropdown">

                        <!-- Редактиране на сменният график на потребител -->
                        <a class="nav-link btn-info text-dark dropdown-toggle"
                            asp-controller="Choices"
                            asp-action="ChoisUserAndMonth"
                            asp-route-data="WorkingRotation EditChangedSchedule">
                            Редактиране на сменният график на потребител
                        </a>

                        <!-- Зареждане на сменен график от файл -->
                        <a class="nav-link btn-info text-dark dropdown-toggle"
                            asp-controller="WorkingRotation"
                            asp-action="LoadFromFile">
                            Зареждане на сменен график от файл
                        </a>

                        <!-- Създаване на смяна -->
                        <a class="nav-link btn-success text-white dropdown-toggle"
                            asp-controller="WorkingRotation"
                            asp-action="ShiftCreate">
                            Създаване на смяна
                        </a>

                        <!-- Редактиране на смяна -->
                        <a class="nav-link btn-success text-white dropdown-toggle"
                            asp-controller="WorkingRotation"
                            asp-action="AllShift">
                            Редактиране на смяна
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</div>   

