@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="bs-example">
    <div class="row">
        <div class="col-md-3">
            <!-- Dropright menu -->
            <div class="btn-group dropend">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Менажиране на потребители</button>
                <div class="dropdown-menu">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <!-- Dropright menu -->
            <div class="btn-group dropend">
                <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown">Менажиране на инсталации и оборудване</button>                
                <ul class="dropdown-menu multi-level">
                    <li class="nav-item dropdown">                        
                        <a class="nav-link btn-warning text-dark dropdown-toggle"                            
                            asp-controller="Plants"
                            asp-action="ComplexCreate">
                            Създаване на комплекс
                        </a>
                        <a class="nav-link btn-warning text-dark dropdown-toggle"
                            asp-controller="Plants"
                            asp-action="AllComplex">
                            Редактиране на комплекс
                        </a>
                        <a class="nav-link btn-warning text-dark dropdown-toggle"
                            asp-controller="Plants"
                            asp-action="AllDeletedComplex">
                            Възстановяване на изтрит комплекс
                        </a>
                        <a class="nav-link btn-info text-dark dropdown-toggle"
                            asp-controller="Plants"
                            asp-action="PlantCreate">
                            Създаване на инсталация
                        </a>
                        <a class="btn btn-info dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Редактиране на инсталация
                        </a>
                        <!--TODO За бъдещ размисъл и реализация ако е необходимо-->
                        @*<a class="btn btn-info dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Изтриване на инсталация
                        </a>*@
                        <a class="btn btn-primary dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Създаване на технологична позиция
                        </a>
                        <a class="btn btn-primary dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Редактиране на технологична позиция
                        </a>
                        <!--TODO За бъдещ размисъл и реализация ако е необходимо-->
                        @*<a class="btn btn-primary dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Изтриване на технологична позиция
                        </a>*@
                    </li>
                </ul>                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <!-- Dropright menu -->
            <div class="btn-group dropend">
                <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown">Менажиране на сменни графици</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <!-- Dropright menu -->
            <div class="btn-group dropend">
                <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown">Изготвяне на справки</button>
            </div>
        </div>
    </div>
</div>   

