@using Microsoft.AspNetCore.Identity
@using SafeAssignmentSystem.DataBase.Data.DatabaseModels.Account;
@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;
@inject RoleManager<ApplicationRole> RoleManager;


<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item">            
        <p  class="nav-link text-dark" asp-area="" asp-page="" title="">@User.Identity?.Name!</p>
        @*<a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name!</a>*@
    </li>
    <li class="nav-item">
                <form  class="form-inline" asp-controller="Account" asp-action="Logout">
            <button  type="submit" class="nav-link btn btn-link text-dark">Изход от системата</button>
        </form>
    </li>
}
else
{    
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Достъп</a>
    </li>
}
</ul>
